.Rproj.user
.Rhistory
*.RData
.DS_Store
.Rprofile
*rdb
*rdx

# Ignore raw data
100_data_raw/*

/.quarto/

# ignore renv files
renv/

# ignore freeze cache
_freeze

200_data_clean/

300_data_processed/
